section#gallery h1 {
	width: 360px;
	margin: 0 auto;
}

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1110px) {
}

/* Medium Devices, Desktops */

@media only screen and (max-width : 992px) {
.container,  section#menus .container {
	width: 100%;
	padding: 0 10px;
}
header .header-content {
	width: 729px;
	margin: 0 auto;
}
header nav ul li a {
	width: auto;
	padding: 3px 12.9px;
	margin: 0 4px;
}
section#home .home-footer .col-1 {
	width: 42%;
}
section#home .home-footer .col-2 {
	width: 25%;
}
.gal_img_4, .gal_img_8 {
	display: none;
}
ul#gallery_images {
	width: 710px;
	margin-left: auto;
	margin-right: auto;
}
}

@media only screen and (max-width : 820px) {
section#whats-on .our-vip-club-bar p {
	width: 49%;
}
}

/* Small Devices, Tablets */

@media only screen and (max-width : 768px) {
section#whats-on .our-vip-club-bar p,  header .header-content,  .page .two-col,  .page .col-1, .page .col-2, .page .col-3,  section#home .home-footer .col-1, section#home .home-footer .col-2, section#home .home-footer .col-3,  section#contact .address {
	width: 100%;
}
section#contact .address {
	text-align: center;
}
header .header-content {
	height: 65px;
}
section#home .logo {
	top: -40px;
}
header .header-content {
	overflow: hidden;
}
header nav ul {
	padding-top: 90px;
}
header nav ul li {
	width: 50%;
	margin: 10px 0;
}
header .header-topo,  header nav ul li.palmeira,  section#whats-on .our-vip-club-bar a.btn-black-white:after {
	display: none;
}
.sign_up {
	margin-left: -400px;
}
header .logo-fixed {
	left: 17px;
	width: 119px;
	margin-left: 0;
}
.row {
	margin-bottom: 15px !important;
}
section#home .home-footer .col-1, section#home .home-footer .col-2, section#home .home-footer .col-3 {
	border: none !important;
	margin-bottom: 5px;
}
.page .two-col {
	padding: 15px 0 !important;
	border: none !important;
	min-height: inherit !important;
}
.page .two-col img,  section#contact .contact-form .col-3 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
section#menus .container {
	width: 765px;
	float: right;
}
section h1 {
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
}
section#whats-on .our-vip-club-bar a.btn-black-white {
	position: inherit;
	top: 14px;
	right: inherit;
}
section.page {
	overflow: hidden;
}
section#catering {
	padding-bottom: 155px;
}
footer {
	height: 130px;
}
section#home .home-footer {
	height: auto;
}
footer .two-col {
	text-align: center !important;
}
section#home .home-footer .book-online a.btn-black-white {
	bottom: 50px;
	left: 8%;
}
section#home .badge {
	bottom: 20px;
}
section#contact .contact-form .col-1,  section#contact .contact-form .col-2,  section#contact .contact-form .col-3 {
	padding: 0;
}
section#contact .contact-form .col-3 {
	padding: 20px;
}
#trigger {
	display: block;
	position: absolute;
	right: 0;
	top: 20px;
	z-index: 9999;
}
.mp-pusher {
/*position: fixed !important;

			  z-index: 99999;*/

}
ul#gallery_images {
	width: 415px !important;
}
section#gallery h1 {
	margin: 0 auto !important;
	width: 415px;
	text-align: left !important;
}
ul#gallery_images li {
	position: initial;
}
#inline-wo-1,  #inline-wo-2,  #inline-wo-3 {
	background: rgba(0,0,0,.8);
	background-image: none !important;
}
.fancybox-mobile.fancybox-type-inline,  .fancybox-mobile.fancybox-type-inline .fancybox-inner {
	width: 100% !important;
	left: 0 !important;
}
.fancybox-mobile.fancybox-type-inline .fancybox-inner {
	min-height: 370px !important;
}
#inline-wo-2 .inline-title {
	padding-top: 30px;
}
.fancybox-close {
	top: 0 !important;
	right: 0 !important;
}
}
 @media only screen and (max-width : 768px) and (min-width : 668px) {
.container {
	padding: 0 100px;
	box-sizing: border-box;
}
 }
 /* DO NOT SHOW IF HEIGHT IS SMALLER THAN */
  @media only screen and (max-height : 569px) {
 section#home .logo {
	 display: none;
 }
  }

	





    /* Extra Small Devices, Phones */ 

    @media only screen and (max-width : 480px) {
 .sign_up {
 width: 95%;
}
 ul#gallery_images li {
 float: initial;
 margin: 0 auto;
}
 ul#gallery_images {
 width: 100% !important;
}

			

			

	

	/* Extra Small Devices, Phones */ 

    @media only screen and (max-width : 420px) {
 section#home .home-footer .book-online a.btn-black-white {
 margin-left: -83px;
 left: 50%;
}
 section#home .badge {
display: none;
}
 header nav ul li {
 width: 100%;
 margin: 4px 0;
}
 .header-content.open {
 height: 295px;
}
 section#gallery h1 {
 width: 100%;
}
}



    /* Custom, iPhone Retina */ 

    @media only screen and (max-width : 320px) {
}
