@charset "utf-8";

/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,700);

@import url(http://fonts.googleapis.com/css?family=Pacifico);

@import url(http://fonts.googleapis.com/css?family=Special+Elite);

@font-face {

font-family: 'LetterGothicStd-Bold';

src: url('fonts/LetterGothicStd-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/LetterGothicStd-Bold.otf') format('opentype'),  url('fonts/LetterGothicStd-Bold.woff') format('woff'), url('fonts/LetterGothicStd-Bold.ttf') format('truetype'), url('fonts/LetterGothicStd-Bold.svg#LetterGothicStd-Bold') format('svg');

font-weight: normal;

font-style: normal;

}

html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, font, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td {

background: transparent;

border: 0;

margin: 0;

padding: 0;

vertical-align: baseline;

}

h1, h2, h3, h4, h5, h6 {

font-weight: normal;

}

html {

height: 100%;

}

body {

min-height: 100%;

height: 100%;

}

html,  body {

background-color: #ccc;

font-size: 14px;

font-family: 'LetterGothicStd-Bold';

font-weight: normal;

}

.img-responsive {

display: block;

max-width: 100%;

height: auto;

}

.img-center {

display: block;

margin-left: auto;

margin-right: auto;

}

/* MAKE EVERITHING BOXSIZING BORDERBOX*/

* {

-webkit-box-sizing: border-box;

-moz-box-sizing: border-box;

box-sizing: border-box;

}

a {

text-decoration: none;

color: #000;

}

.container {

width: 960px;

margin: 0 auto;

position: relative;

/* height: 100%; */

}

/* HEADER */

header {

position: fixed;

width: 100%;

top: 0;

left: 0;

z-index: 500;

}

header .header-content {

height: 100px;

background: rgba(255,255,255,.5);

-webkit-transition: all 0.5s ease-in-out;

-moz-transition: all 0.5s ease-in-out;

-o-transition: all 0.5s ease-in-out;

-ms-transition: all 0.5s ease-in-out;

transition: all 0.5s ease-in-out;

}

.header-content.open {

height: 230px;

}

#trigger {

display: none;

}

.header-topo {

height: 25px;

}

.header-topo .phone, .header-topo .social {

float: right;

}
.header-topo .social > ul{
	margin: 10px 10px 0 12px;
}
.header-topo .social > ul > li{
float: left;
list-style: none;
margin: 0 4px;
}
.header-topo .social > ul > li > a{
background:url(images/ico_social_media_17x16.png) no-repeat;
width: 17px;
height: 16px;
display:block;
}
.header-topo .social > ul > li > a:hover{
	opacity: .6
}
.header-topo .social > ul > li.facebook > a { background-position: 0 0; }
.header-topo .social > ul > li.twitter > a { background-position:-17px 0; }
.header-topo .social > ul > li.gplus > a { background-position: -34px 0; }

.header-topo .phone {

margin-top:10px;

}

header nav {

height: 64px;

position: relative;

}

header nav ul {

list-style: none;

}

header nav ul li {

float: left;

margin-top: 40px;

}

header nav ul li.palmeira {

width: 156px;

height: 64px;

margin-top: 0px;

background: url(images/img_palm_tree.png) no-repeat center center;

cursor: pointer;

}

header nav ul li a {

display: block;

width: 110px;

padding: 3px;

text-transform: uppercase;

text-align: center;

color: #ffffff;

background-color: #858f96;

margin: 0 12px;

}

nav li a.about-us {

background-color: #858f96;

}

nav li a.menus {

background-color: #bb645c;

}

nav li a.whats-on {

background-color: #b1ac6d;

}

nav li a.contact {

background-color: #6eacb2;

}

nav li a.gallery {

background-color: #46456f;

}

nav li a.catering {

background-color: #d49c54;

}

header .logo-fixed {

position: absolute;

top: -150px;

margin-left: -76px;

left: 50%;

width: 150px;

z-index: 2;

cursor: pointer;

-webkit-transition: all 0.5s ease-in-out;

-moz-transition: all 0.5s ease-in-out;

-o-transition: all 0.5s ease-in-out;

-ms-transition: all 0.5s ease-in-out;

transition: all 0.5s ease-in-out;

}

/* END HEADER */

/* MAIN */

div#main {

height: 100%;

}

section.page {

width: 100%;

min-height: 100%;

padding-top: 140px;

/*padding-top: 15%;*/

position: relative;

background: url(images/bg/bg_main.jpg) #CCC;

}

section#about-us,

section#catering {

display: table;  /*DISPLAY TABLE TO ALIGN MIDDLE ON DISPLAY:TABLE-CELL WORK */

height: 100%;

}

.vert-middle-align {

display: table-cell;

vertical-align: middle;

}

section.page h1 {

font-family: 'Pacifico', cursive;

font-size: 30px;

margin-left: 172px;

}

.page .two-col {

width: 50%;

float: left;

}

.page .col-1,  .page .col-2,  .page .col-3 {

width: 33.33%;

float: left;

}

/* END MAIN */

/* HOME */

section#home {

background-image: url(images/img_home.jpg);

background-size: cover;

background-position: center center;

}

section#home .logo {

position: absolute;

top: 70px;

margin-left: -200px;

left: 50%;

z-index: 1;

}
section#home .logo img {
  width: 400px;
  height: auto;
}

section#home .badge {

position: absolute;

right: 20px;

bottom: 80px;

}

section#home .home-footer, footer {

background: rgba(0,99,149,.8);

position: absolute;

bottom: 0;

left: 0;

height: 55px;

width: 100%;

z-index: 50;

padding: 10px 0;

color: #fff;

text-transform: uppercase;

text-align: center;

}

section#home .home-footer .col-1,  section#home .home-footer .col-2,  section#home .home-footer .col-3 {

padding: 0 25px;

border-right: 1px solid #fff;

}

section#home .home-footer .book-online a.btn-black-white {

width: 165px;

bottom: -51px;

right: 60px;

}

a.btn-black-white {

font-family: 'LetterGothicStd-Bold';

position: absolute;

background-color: rgba(0,0,0,0.7);

color: #fff;

z-index: 98;

border: 7px double #fff;

padding: 11px;

text-transform: uppercase;

}

/* END HOME */

/* ABOUT US */

section#about-us {

}

section#about-us h1 {

color: #858f96;

}

section#about-us .row {

overflow: hidden;

margin-bottom: 50px;

}

section#about-us .row .two-col {

font-family: 'Crimson Text', serif;

font-size: 17px;

padding: 20px 40px;

}

section#about-us .row .two-col:first-child {

text-align: right;

padding-left: 0;

}

section#about-us .row .two-col:last-child {

border-left: 1px solid #000;

padding-right: 0;

min-height: 240px;

}

section#about-us div.two-col p {

  min-height: 295px;

}

section.page a.book-now-btn, div#sign a.book-now-btn {

text-transform: uppercase;

position: relative;

font-size: 14px;

display: block;

padding-left: 25px;

padding-top: 20px;

}

section.page a.book-now-btn:before, div#sign a.book-now-btn:before {

content: '';

position: absolute;

margin-right: 10px;

background: url(images/img_about_us_arrow.png) no-repeat;

width: 15px;

height: 15px;

left: 0;

}

section.page a.book-now-btn:after, div#sign a.book-now-btn:after {

content: '';

position: absolute;

margin-left: 10px;

bottom: 0;

}

section#about-us a.book-now-btn:after {

background: url(images/img_about_us_palmtree.png) no-repeat;

width: 18px;

height: 20px;

}

/* END ABOUT US */

/* CONTACT US */

section#contact {

background-image: url(images/img_contact.jpg);

background-size: cover;

background-position: center center;

}

/* END CONTACT US */

/* MENU */

section#menus {

}

section#menus .container {

width: 765px;

}

section#menus ul.menu-links {

list-style: none;

position: absolute;

top: 140px;

left: 520px;

font-size: 20px;

text-transform: uppercase;

line-height: 40px;

}

section#menus ul.menu-links a:hover {

color: #006395;

}

section#menus .book-now-abs a {

position: absolute;

width: 210px;

height: 80px;

left: 260px;

top: 160px;

display: block;

}

/* END MENU*/

/* WHATS ON */

section#whats-on {

}

section#whats-on h1 {

color: #9d9637;

font-size: 36px;

}

section#whats-on .row {

overflow: hidden;

}

section#whats-on span {

font-family: 'Special Elite', cursive;

font-size: 36px;

text-align: center;

display: block;

margin-top: 15px;

color: #6eacb2;

}

/* UPCOMING EVENTS */

section#whats-on .upcoming-events {

	padding-top: 20px;

	overflow: hidden;

	padding-bottom: 20px;

	padding-right: 10px;

}

section#whats-on .upcoming-events .col-1 {

	background: url(images/bg/img_whatson_upevents.png) no-repeat center center;

	min-height: 140px;

}

section#whats-on .upcoming-events .col-2 {

	font-family: 'Special Elite', cursive;

	font-size: 36px;

	text-align: center;

	color: #6eacb2;

	margin-top: 50px;

}

section#whats-on .upcoming-events .event-img {

	position: relative;

	border: 3px solid #d2d4c7;

	-webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.32);

	-moz-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.32);

	box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.32);

	  margin-left: 30px;

}

section#whats-on .upcoming-events .event-img:before{

	content: '';

	position:absolute;

	background:url(images/bg/bg_upcoming_tape.png) no-repeat center center;

	width: 103px;

	height: 19px;

	top: -11px;

  left: 50%;

  margin-left: -52px;

}

div#inline-wo-upcoming-event {

	background-size: cover;

	height: 100%;

	}

	div#inline-wo-upcoming-event .inline-title {

	background-size: cover;

	height: 100%;

	}

	div#inline-wo-upcoming-event .download-pdf {

		display: block;

		margin-top: 20px;

	}

/* END UPCOMING EVENTS */

section#whats-on .upcoming-events,

section#whats-on .our-vip-club-bar {

position: relative;

border-top: 4px dotted #9d9637;

margin-top: 25px;

font-weight: bold;

}

section#whats-on .our-vip-club-bar {

font-family: 'Crimson Text', serif;

padding: 30px 10px;

/* disable VIP section until database system is ready */ 	

/*display:none;*/

}

section#whats-on .our-vip-club-bar p {

text-transform: uppercase;

font-size: 22px;

color: #464646;

width: 60%;

}

section#whats-on .our-vip-club-bar a.btn-black-white {

padding: 9px 30px;

top: 30px;

right: 0;

}

section#whats-on .our-vip-club-bar a.btn-black-white:after {

content: '';

background: url(images/img_whatson_signup.png) no-repeat;

width: 180px;

height: 68px;

position: absolute;

left: -200px;

top: 0;

}

div#inline-wo-1,  div#inline-wo-2,  div#inline-wo-3 {

height: 100%;

background-size: cover;

}

div#inline-wo-1 {

background-image: url(images/img_kids.png);

}

div#inline-wo-2 {

background-image: url(images/img_catering.png);

}

div#inline-wo-3 {

background-image: url(images/img_birthday.png);

}

.fancybox-type-inline .fancybox-opened .fancybox-skin,  .fancybox-type-inline .fancybox-skin {

background: transparent!important;

box-shadow: none!important;

}

.inline-content {

position: absolute;

bottom: 10%;

background-color: rgba(255,255,255,0.8);

/* margin: 0 auto; */

width: 90%;

left: 50%;

margin-left: -45%;

padding: 15px;

text-align: center;

}

.inline-title {

font-family: 'Special Elite', cursive;

/*position: absolute;

right: 15%;

top: 20%; */

font-size: 36px;

font-weight: bolder;

color: #fff;

padding-top: 75px;

text-align: center;

}

#inline-wo-2 .inline-title {

padding-top: 145px;

}

#inline-wo-2 .inline-content {

display: none;

}

#inline-wo-2 .inline-title span:after {

content: " coming soon!";

}

/* END WHATS ON */

/* CONTACT US */

section#contact, section#contact a {

color: #fff;

}

section#contact .header {

  width: 305px;
  margin: 0 0 80px auto;

}
section#contact .header h1 {
	margin-left: 0;
	font-size: 46px;
}
section#contact .header p {
  text-transform: uppercase;
  font-size: 15px;
}
section#contact .address {

margin: 15px 0 0 auto;

}

section#contact .address p, section#contact .address span {

font-size: 16px;

text-transform: uppercase;

}

section#contact .address h1 {

margin: 0;

margin-top: 60px;

font-size: 46px;

}

section#contact .contact-form {

background: url(images/img_contact_line.png) repeat-x top;

padding-top: 30px;

margin-top: 20px;

}

section#contact .contact-form .col-1,  section#contact .contact-form .col-2,  section#contact .contact-form .col-3 {

padding: 10px;

}

section#contact .contact-form .col-1 {

padding-left: 0px;

}

section#contact .contact-form .col-3 {

padding-right: 0px;

}

section#contact textarea, section#contact input {

font-family: 'Special Elite', cursive;

font-size: 20px;

color: #464646;

margin: 0;

border: 0;

padding: 20px;

margin-bottom: 13px;

background: url(images/img_contact_form_bg.png);

width: 100%;

}

section#contact textarea {

font-size: 17px;

line-height: 24px;

}

section#contact input[type=text] {

height: 60px;

}

section#contact textarea {

height: 128px;

}

section#contact input[type="submit"] {

color: #006395;

}

section#contact input[type="submit"]:after {

position: absolute;

content: '';

background: url(images/img_contact_form_hands.png) no-repeat;

width: 20px;

height: 15px;

}

/* END END CONTACT US */

/* GALLERY */

section#gallery {

}

section#gallery h1 {

font-size: 46px;

color: #46456f;

position: relative;

}

section#gallery h1:after {

content: '';

position: absolute;

background: url(images/img_galerry_h1.png) no-repeat;

width: 218px;

height: 74px;

top: 10px;

}

/* END GALLERY */

/* CATERING */

section#catering {

}

section#catering h1 {

color: #d49c54;

}

section#catering .row.content .two-col {

font-family: 'Crimson Text', serif;

font-size: 17px;

padding: 20px 40px;

}

section#catering .row.content .two-col:first-child {

text-align: right;

padding-right: 0;

}

section#catering .row.content .two-col:last-child {

border-left: 1px solid #000;

padding-right: 70px;

min-height: 240px;

}

section#catering a.book-now-btn:after {

background: url(images/img_catering_cocktail.png) no-repeat;

width: 20px;

height: 23px;

}

/* END CATERING */

footer .row {

margin-top: 10px;

}

footer .row .two-col {

text-transform: uppercase;

padding: 0;

border: 0;

margin: 0;

}

footer .row .two-col:first-child {

text-align: left;

}

footer .row .two-col:last-child {

text-align: right;

}

footer .row .two-col:last-child a {

color: #fff;

}

/* SIGN UP */

.sign_up {

position: fixed;

left: 0px;

top: 50%;

background-color: rgba(0,0,0,0.9);

width: 380px;

height: 220px;

z-index: 100;

text-align: left;

padding: 50px 70px 0px 30px;

box-shadow: 0px 0px 5px #111;

margin-top: -115px;

margin-left: -340px;

-webkit-transition: all 0.5s ease-in-out;

-moz-transition: all 0.5s ease-in-out;

-o-transition: all 0.5s ease-in-out;

-ms-transition: all 0.5s ease-in-out;

transition: all 0.5s ease-in-out;

text-align: left;

color: #fff;

}

.sign_up .book-now-btn {

color: #fff;

}

div#sign {

max-height: 0;

display:none; /* hide VIP sidebar */

}

div#sign a {

color: #fff;

text-decoration: underline;

}

div#sign a.book-now-btn:after {

background: url(images/img_vip_white.png) no-repeat;

width: 24px;

height: 23px;

}

.sign_up input {

padding: 6px;

margin-bottom: 10px;

}

.sign_up input[type="text"] {

width: 100%;

}

.sign_up.open {

margin-left: 0px;

}

.sign_up_img {

position: absolute;

right: 0;

top: 0;

cursor: pointer;

}

/* END SIGN UP */

.menu-trigger:before {

position: absolute;

top: 2px;

left: 0;

width: 40px;

height: 6px;

background: #000;

box-shadow: 0 6px transparent, 0 12px #000, 0 18px transparent, 0 24px #000;

content: '';

}

.menu-trigger {

padding-left: 60px;

font-size: 0.9em;

height: 33px;

display: block;

}

ul#gallery_images {

list-style: none;

min-height: 425px;

margin-top: 30px;

position: relative;

}

ul#gallery_images li {

float: left;

}

li.gal_img_1,  li.gal_img_2,  li.gal_img_3,  li.gal_img_4,  li.gal_img_5,  li.gal_img_6,  li.gal_img_7,  li.gal_img_8 {

background-repeat: no-repeat;

position: absolute;

background-size: cover;

}

li.gal_img_1 {

width: 183px;

height: 237px;

left: 20px

}

li.gal_img_2 {

width: 208px;

height: 153px;

left: 235px;

}

li.gal_img_3 {

width: 228px;

height: 190px;

left: 470px;

}

li.gal_img_4 {

width: 230px;

height: 173px;

left: 725px;

}

li.gal_img_5 {

width: 219px;

height: 179px;

left: 0px;

top: 255px;

}

li.gal_img_6 {

width: 190px;

height: 239px;

left: 244px;

top: 193px;

}

li.gal_img_7 {

width: 229px;

height: 157px;

left: 465px;

top: 225px;

}

li.gal_img_8 {

width: 232px;

height: 194px;

left: 715px;

top: 205px;

}

.wpcf7-response-output {

color:#000;

background: #f7e700;

border: 0 none;

margin-top:0!important;

}

.wpcf7-submit {

cursor:pointer;

}

::-webkit-input-placeholder {
	font-size: 18px;
}
:-moz-placeholder { /* Firefox 18- */
font-size: 18px;
}
::-moz-placeholder {  /* Firefox 19+ */
font-size: 18px;
}
:-ms-input-placeholder {  
font-size: 18px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

textarea:focus::-webkit-input-placeholder { color:transparent; } 
textarea:focus:-moz-placeholder { color:transparent; } 
textarea:focus::-moz-placeholder { color:transparent; } 
textarea:focus:-ms-input-placeholder { color:transparent; } 


ul#menu-menu-pdfs:after {
    font-family: 'Crimson Text', serif;
    content: "menu is subject to change with out notice";
    font-size: 9px;
    margin-top: 5px;
    display: block;
    line-height: 16px;
}
